body {
	margin: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 25%;
	background-color: #D0D0D0;
	position: fixed;
	height: 100%;
	overflow: auto;
}

li a {
	display: block;
	color: black;
	padding: 10px 0 10px 15px;
	text-decoration: none;
}
li a.aktiv{
	background-color: #500000;
	color: white;
}

li a:hover:not(.aktiv) {
	background-color: #777;
	color: white;
}

#div1 {
	margin-left: 25%;
	padding: 1px 15px;
	height: 100%;
}
.dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 12px 16px;
}






