@font-face {
	font-family: ubuntu;
	src: url(Ubuntu-R.ttf);
}

#div1 {
	width: 50%;
	border-radius: 50px;
	border-style: solid;
	padding: 20px;
	box-shadow: 10px 10px 7px #AAA;
	font-family: ubuntu;
}